body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.header_call {
  display: inline-block; /* Ensures proper styling and behavior */
  background-color: #4CAF50;
  color: white; /* text color*/
  padding: 15px 20px; /* Button size */
  text-align: center; /* Aligns text within button */
  text-decoration: none; /* Removes underline from link */
  border: none; /* Removes default button border */
  border-radius: 5px; /* Rounded corners */
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.contact {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 5px;
}

.contact ul {
  position: relative;
}

.contact ul li {
  position: relative;
}

.experience ul li ul li{
  list-style:inside;
}